{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_greetings/messages

    Template for displaying greeting messages

    Example context (json):
    {
    }
}}
<div id="{{messagescontainerid}}" class="box py-3 card-columns" role="list">
{{#messages}}
    <div class="card" style="background: {{cardbackgroundcolor}}" role="listitem">
        <div class="card-body">
            <p class="card-text">{{message}}</p>
            <p class="card-text">{{#str}} postedby, block_greetings, {{firstname}} {{/str}}</p>
            <p class="card-text">
                <small class="text-muted">
                    {{#userdate}} {{timecreated}}, {{#str}} strftimedaydatetime, core_langconfig {{/str}} {{/userdate}}
                </small>
            </p>
            {{#candelete}}
                <p class="card-footer text-center">
                    <a
                        href="{{config.wwwroot}}/my/?action=del&id={{id}}&sesskey={{config.sesskey}}"
                        role="button">
                        {{#pix}} t/delete, core, {{#str}} delete {{/str}} {{/pix}}
                    </a>
                    <a
                        href="{{config.wwwroot}}/blocks/greetings/edit.php?id={{id}}"
                        role="button">
                        {{#pix}} t/edit, core, {{#str}} edit {{/str}} {{/pix}}
                    </a>
                </p>
            {{/candelete}}
        </div>
    </div>
{{/messages}}
</div>
